<script setup>
import {
  CheckIcon,
  ClipboardIcon,
  InformationCircleIcon,
} from "@heroicons/vue/20/solid";
import { useClipboard } from "@vueuse/core";

// https://vuejs.org/api/sfc-script-setup.html#defineprops-defineemits
const props = defineProps({
  xpathExpression: {
    type: String,
    required: true,
  },
});

// https://vueuse.org/core/useclipboard/#type-declarations
const { copy, copied } = useClipboard({ source: props.xpathExpression });
</script>

<template>
  <!-- p-6 or px-6 pb-4 pt-2 or px-6 pt-4 pb-6 -->
  <div
    class="flex flex-col gap-4 rounded-lg border border-gray-200 bg-white p-6 shadow-md"
  >
    <div class="flex flex-row items-start justify-between">
      <div class="flex flex-row gap-2">
        <!-- Inspiration: https://inspx.rauno.xyz/ -->
        <button type="button" class="btn-output cursor-copy" @click="copy()">
          <ClipboardIcon class="mr-1 h-3 w-3" v-if="!copied" />
          <CheckIcon class="mr-1 h-3 w-3" v-else />
          Copy</button
        ><a
          href="https://cssselect.readthedocs.io/en/latest/"
          target="_blank"
          class="btn-output cursor-ne-resize"
        >
          <InformationCircleIcon class="mr-1 h-3 w-3" />
          Docs
        </a>
      </div>
      <span class="font-mono text-xs text-gray-500">XPath</span>
    </div>

    <p class="break-words text-gray-900">
      {{ xpathExpression }}
    </p>
  </div>
</template>
