<!-- https://flowbite.com/docs/typography/headings/#heading-two-h2 -->
<!-- https://tailwindcss.com/docs/gap -->
<!-- https://tailwindcss.com/docs/rotate -->
<!-- https://flowbite.com/docs/components/buttons/#icon-buttons -->
<!-- https://tailwindcss.com/docs/animation#ping -->
<!-- https://tailwindcss.com/docs/animation#prefers-reduced-motion -->

<script setup>
import { ArrowTrendingDownIcon } from "@heroicons/vue/24/outline";
</script>

<template>
  <header class="mt-12 mb-6">
    <h1
      class="flex flex-col items-center gap-1 text-4xl font-bold text-gray-900"
    >
      <span>CSS selector</span>
      <!-- Inspiration: https://github.com/CaptainCodeman/svelte-headlessui logo -->
      <!-- https://stackoverflow.com/a/74445912 -->
      <!-- https://tailwindcss.com/docs/adding-custom-styles#arbitrary-variants -->
      <!-- or border-[1.5px] border-dashed border-blue-300 bg-white -->
      <div
        class="rounded-lg bg-blue-100 p-2 hover:animate-spin [&:not(:hover)]:rotate-6"
      >
        <ArrowTrendingDownIcon
          class="h-6 w-6 text-blue-700 motion-safe:animate-pulse"
        />
      </div>
      <span>XPath 1.0</span>
    </h1>
  </header>
</template>
