<!-- https://flowbite.com/docs/typography/lists/#horizontal-list -->
<!-- https://tailwindcss.com/docs/flex-wrap -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target -->

<template>
  <!-- mb-6 or my-6 -->
  <footer class="my-6">
    <ul
      class="flex flex-wrap items-center justify-center gap-4 text-sm text-gray-900 md:gap-6"
    >
      <li>
        <a
          href="https://gitlab.com/joaommpalmeiro/selector-to-xpath"
          target="_blank"
          class="cursor-ne-resize hover:underline"
          >Source</a
        >
      </li>
      <li>
        <a
          href="https://gitlab.com/joaommpalmeiro/cssselect-api"
          target="_blank"
          class="cursor-ne-resize hover:underline"
          >API</a
        >
      </li>
    </ul>
  </footer>
</template>
