<!-- https://flowbite.com/docs/forms/input-field/ -->
<!-- https://flowbite.com/docs/forms/input-field/#search-input -->
<!-- https://flowbite-vue.com/components/input#slot-suffix -->
<!-- https://flowbite.com/docs/customize/colors/ + https://tailwindcss.com/docs/customizing-colors -->
<!-- https://tailwindcss.com/docs/container + https://tailwindcss.com/docs/max-width -->
<!-- https://flowbite.com/docs/typography/headings/#heading-one-h1 -->
<!-- https://daily-dev-tips.com/posts/center-elements-with-tailwind-css/ -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#input_types -->
<!-- https://github.com/Code-Pop/vue-for-react-devs -->
<!-- https://flowbite.com/docs/components/buttons/#icon-buttons -->
<!-- https://css-tricks.com/tale-width-max-width/ -->
<!-- https://flowbite.com/docs/components/buttons/#button-sizes -->
<!-- https://flowbite.com/docs/components/badge/#badges-with-icon -->
<!-- https://flowbite.com/docs/typography/links/#button -->
<!-- https://developer.mozilla.org/en-US/docs/Web/CSS/cursor#syntax + https://tailwindcss.com/docs/cursor -->
<!-- https://flowbite.com/docs/components/card/#card-with-link -->
<!-- https://flowbite.com/docs/typography/hr/ -->

<script setup>
import InputBar from "@/components/InputBar.vue";
import PageFooter from "@/components/PageFooter.vue";
import PageHeader from "@/components/PageHeader.vue";
import { useFetch } from "@vueuse/core";
import { reactive } from "vue";
import OutputContainer from "./components/OutputContainer.vue";

const BASE_URL = "https://cssselect-api.onrender.com";

// https://github.com/vueuse/vueuse/blob/v9.9.0/packages/core/useFetch/demo.vue
const payload = reactive({
  // css_selector: null,
  css_selector: "",
});

// https://vueuse.org/core/usefetch/
// https://vueuse.org/core/usefetch/#setting-the-request-method-and-return-type
const { isFetching, error, data, execute } = useFetch(BASE_URL, {
  immediate: false,
})
  .post(payload)
  .json();

// watch(error, (newError) => {
//   console.log({ newError, data: data.value });
// });

const getXpathExpression = (cssSelector) => {
  // console.log(cssSelector);
  Object.assign(payload, {
    css_selector: cssSelector,
  });

  execute();
};
</script>

<template>
  <div>
    <PageHeader />

    <main class="mx-auto max-w-lg">
      <InputBar
        @css-selector-submitted="getXpathExpression"
        :isLoading="isFetching"
        :err="error && data"
      />
      <!-- https://vuejs.org/guide/components/props.html#prop-name-casing -->
      <!-- https://vuejs.org/guide/components/props.html#static-vs-dynamic-props -->
      <OutputContainer
        v-if="data && !error && !isFetching"
        :xpath-expression="data.xpath_expression"
      />
      <!-- <p v-if="isFetching">Loading...</p> -->
    </main>
  </div>

  <PageFooter />
</template>
